.top_line_comprar{
    margin-top: 110px;
    align-items: center;
    height: 546px;
    background-color: #0066FF;
}

.top_line_comprar > h2 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

