@import url('./navbar.css');
@import url('./home.css');
@import url('./responsivehome.css');
@import url('./comprar.css');

:root {
  --color-background: #fff;
  --color-black-pantone: #2d2d2f;
  --color-orange-mysimtravel: #ff7d26;
  --color-roxo-pantone: #3A0CA3;
  --color-secundary: #fff6f6;
  --color-alternative: #22176e;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-background);
  font-family: 'Poppins', sans-serif;
}