:root {
  --color-background: #fff;
  --color-black-pantone: #2d2d2f;
  --color-orange-mysimtravel: #ff7d26;
  --color-roxo-pantone: #3A0CA3;
  --color-secundary: #fff6f6;
  --color-alternative: #22176e;
}

body {
  background: var(--color-secundary);
}

.headersection {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  background-color: #fff; /* Defina a cor de fundo desejada */
  z-index: 100; /* Garante que o cabeçalho fique acima de outros elementos */
  /* Adicione outros estilos desejados, como altura, sombra, etc. */
}

/* Estilos adicionais para os elementos dentro do cabeçalho, se necessário */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
}

.p-span {
  font-size: 50px;
  color: var(--color-background);
  font-weight: 500;
}

.span_home1 {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: var(--color-background);
}

#logo {
  cursor: pointer;
}

.top_section_home {
  background-image: url('../assets/imagens/background/backgroundgradient.svg');
  width: 100%;
  height: auto;
  gap: 0px;
  background-size: cover;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 320px;
}

.top_subsection_home {
  height: 500px;
  width: 1200px;
  border-radius: 35px;
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.top_section_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  margin-top: 130px;
  gap: 30px;
}

.top_section_text > h1 {
  font-size: 60px;
  color: var(--color-background);
  font-weight: 500;
}

 

@keyframes layouotexit {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}

#section-card-usa {
  display: none;
  flex-direction: column;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.section_cards_estadosunidos {
  width: 100%;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes layouot {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.img_layout_estadosunidos > img {
  width: 230px;
  height: 230px;
  border-radius: 20px;
  display: none;
}
.text_cards_section_estadosunidos {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-roxo-pantone);
}

.layout_section_click_estadosunidos {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text_layout_estadosunidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.text_layout_estadosunidos > p {
  font-size: 20px;
}

.ul_layout_section_estadosunidos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 15px;

}

.ul_layout_section_estadosunidos > li {
  list-style: none;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.layout_estadosunidos_buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.button_usa {
  padding: 10px 20px;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--color-orange-mysimtravel);
  color: var(--color-background);
  transition: 0.8s;
}


.button_div_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.button-voltar {
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--color-orange-mysimtravel);
  color: var(--color-background);
  transition: 0.8s;
  animation: layouot 1s ease 0s 1 normal forwards;
}






/* OPÇÕES DE COMPRA 7 DIAS USA */

.list_options_setedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.list_options_dezdias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.list_options_dozedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.list_options_quinzedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.list_options_vintedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.list_options_trintadias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.grid_plans_options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* classes globais */
.imgpadraoplans > img {
  width: 250px;
  height: 180px;
}

.add_carrinho_layout {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.p_add_carrinho {
  font-size: 13px;
  font-weight: 600;
  background-color: var(--color-black-pantone);
  padding: 2px 10px;
  border-radius: 50px;
  color: var(--color-background);
  cursor: pointer;
  transition: 0.8s;
}

.p_remove_carrinho {
  font-size: 13px;
  font-weight: 600;
  background-color: var(--color-black-pantone);
  padding: 2px 10px;
  border-radius: 50px;
  color: var(--color-background);
  cursor: pointer;
  transition: 0.8s;
}

.btn_add_carinho {
  font-size: 18px;
  color: var(--color-background);
  background-color: var(--color-orange-mysimtravel);
  border: 0px;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 20px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.8s;
}

.btn_add_carinho:hover {
  background-color: var(--color-black-pantone);

}


.plano500mb {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(244,244,244,1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.plano1gb {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(244,244,244,1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.plano2gb {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(244,244,244,1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.info_quantidade_planos {
  font-size: 13px;
}

.container_infos_plano {
  gap: 10px;
}




.apresentacao1 {
  display: flex;
  padding: 0px 320px;
  align-items: center;
  justify-content: space-between;
}

.texto_apresentacao1 > h1 {
  font-size: 35px;
  color: var(--color-orange-mysimtravel);
}

.img_apresentacao1 > img {
  width: 600px;
}

.apresentacao2 {
  display: flex;
  flex-direction: column;
  padding: 30px 320px;
  height: auto;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  background: rgb(72,12,168);
  background: linear-gradient(90deg, rgba(72,12,168,1) 0%, rgba(3,4,94,1) 100%);
  margin-top: -8px;
}

.text_apresentacao2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_apresentacao2 > h1 {
  font-size: 40px;
  color: var(--color-background);
}


.grid_cards_informativos {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.cards_informativo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secundary);
  border-radius: 25px;
  padding: 15px 15px;
  max-width: 300px;
  height: 400px;
}

.cards_informativo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secundary);
  border-radius: 25px;
  padding: 15px 15px;
  max-width: 300px;
  height: 400px;
}


.cards_informativo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secundary);
  border-radius: 25px;
  padding: 15px 15px;
  max-width: 300px;
  height: 400px;
}


.img_informativo1 > .bxs-help-circle {
  font-size: 100px
}
.img_informativo2 > .bxs-dollar-circle {
  font-size: 100px
}
.img_informativo3 > .bxs-package {
  font-size: 100px
}
.text_informativo1 {
  text-align: center;
  align-items: center;
}

.text_informativo1 > h1 {
  font-size: 25px;
  color: var(--color-black-pantone);
}

.text_informativo1 > p {
  font-size: 15px;
  color: var(--color-black-pantone);
}

.text_informativo2 > h1 {
  font-size: 25px;
  color: var(--color-black-pantone);
}

.text_informativo2 > p {
  font-size: 15px;
  color: var(--color-black-pantone);
}

.text_informativo3 > h1 {
  font-size: 25px;
  color: var(--color-black-pantone);
}

.text_informativo3 > p {
  font-size: 15px;
  color: var(--color-black-pantone);
}


.text_informativo2 {
  text-align: center;
  align-items: center;
}

.text_informativo3 {
  text-align: center;
  align-items: center;
}

/* CARD HEADEr */



/* Sessão Informativa */
.section_informativo_produto {
  width: 100%;
  height: 750px;
  padding: 30px 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.article_informativo_produto {
  width: 500px;
}

.article_informativo_produto > h2 {
  font-size: 50px;
  font-weight: 500;
  color: var(--color-alternative);

}

figure > img {
  width: 600px;
  height: 600px
}





/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');



/* CARD HEADEr */



.cardimg_usa {
  width: 360px;
  padding: 10px 15px;
  background: var(--color-background);
  text-align: center;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  position: relative;
}



.cardimg_europa {
  width: 360px;
  padding: 10px 15px;
  background: var(--color-background);
  text-align: center;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}


.cardimg_mundial {
  width: 360px;
  padding: 10px 15px;
  background: var(--color-background);
  text-align: center;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  position: relative;
}


.card-all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  justify-content: space-between;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.title {
    font-size: 26px;
    color: var(--color-black-pantone);
    font-family: 'Poppins', sans-serif;
}

.price {
    color: var(--color-orange-mysimtravel);
    font-weight: 700;
    font-size: 2.2rem;
    margin: 15px 0;
}

.price_dolar {
    font-size: 16px;
    color: var(--color-orange-mysimtravel);
    font-weight: 500;
}

.description {
    color: var(--color-black-pantone);
    font-size: 1.1rem;
    margin: 20px 0 20px;
}


.subscribe-button {
    display: flex;
    background-color: var(--color-orange-mysimtravel);
    color: #fff;
    border-radius: 30px;
    margin-top: 34px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    transition: 0.2s ease;
    padding: 15px 0px;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
}

.subscribe-button:hover {
    background: var(--color-orange-mysimtravel);
}

.ribbon-wrap {
    width: 150px;
    height: 80px;
    position: absolute;
    top: -10px;
    left: -10px;
    pointer-events: none;
}

.ribbon {
    width: 230px;
    font-size: 0.918rem;
    text-align: center;
    padding: 8px 0;
    background: var(--color-orange-mysimtravel);
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    right: -17px;
    top: 29%;
}



