:root {
  --color-background: #fff;
  --color-black-pantone: #2d2d2f;
  --color-red-pantone: #2e3177;
  --color-blue-header: #bdefff;
  --color-gradient-blue: linear-gradient(
    90deg,
    rgba(71, 61, 125, 1) 12%,
    rgba(36, 0, 181, 1) 55%,
    rgba(91, 56, 232, 1) 76%
  );
  --color-blue-escuro: #2b8bec;
  --color-alternative: #22176e;

  --color-orange: #ffd488;
  --color-blue-palet: #0089e4;
  --color-blackblue: #083D74;

  --color-glow-roxo: #9437F0;

  --color-gradient-roxo: linear-gradient(90deg, rgba(0,176,255,1) 0%, rgba(148,55,240,1) 100%);
}

.headersection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Defina a cor de fundo desejada */
  z-index: 100; /* Garante que o cabeçalho fique acima de outros elementos */
  /* Adicione outros estilos desejados, como altura, sombra, etc. */
}



/* Estilos adicionais para os elementos dentro do cabeçalho, se necessário */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
}

.p-span {
  font-size: 50px;
  color: var(--color-background);
  font-weight: 500;
}

.span_home1 {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: #ffd488;
}

#logo {
  cursor: pointer;
}

.top_section_home {
  background-image: url('../assets/imagens/background/backgroundgradient.svg');
  width: 100%;
  height: 870px;
  gap: 0px;
  background-size: cover;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 320px;
}

.top_subsection_home {
  height: 500px;
  width: 1200px;
  border-radius: 35px;
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.top_section_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  margin-top: 130px;
  gap: 30px;
}

.top_section_text > h1 {
  font-size: 60px;
  color: var(--color-background);
  font-weight: 500;
}


.texth1_usa {
  background: rgb(145,0,255);
  background: linear-gradient(90deg, rgba(145,0,255,1) 0%, rgba(14,64,198,1) 100%);
  height: 90px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1_card_usa {
  font-size: 27px;
  font-weight: 400px;
}

.infos_card_usa {
  background: rgb(145,0,255);
  background: linear-gradient(90deg, rgba(145,0,255,1) 0%, rgba(14,64,198,1) 100%);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 160px;
}

.infos_card_usa > h1 {
  color: var(--color-background);
  font-size: 20px;
  font-weight: 400;
}
.price_dolar {
  font-size: 35px;
  font-weight: 700;
}

.ver_mais_card_usa {
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 20px;
  border: 0px;
  background-color: #ffd488;
  color: var(--color-black-pantone);
  cursor: pointer;
  margin-top: 20px;
  transition: 0.8s;
}
.ver_mais_card_usa:hover {
  background: var(--color-glow-roxo);
  transform: scale(1.05);
  color: var(--color-background);
}
.cardimg_usa {
  width: 300px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  color: var(--color-background);
  background-size: cover;
  border-radius: 25px;
  transition: 0.8s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  justify-content: space-between;
}



.cardimg_europa {
  width: 300px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  color: var(--color-background);
  background-size: cover;
  border-radius: 25px;
  transition: 0.8s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


.cardimg_mundial {
  width: 300px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  color: var(--color-background);
  background-size: cover;
  border-radius: 25px;
  transition: 0.8s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


.card-all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  justify-content: space-between;
  animation: layouot 1s ease 0s 1 normal forwards;
}

@keyframes layouotexit {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}

#section-card-usa {
  display: none;
  flex-direction: column;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.section_cards_estadosunidos {
  width: 100%;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes layouot {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.img_layout_estadosunidos > img {
  width: 230px;
  height: 230px;
  border-radius: 20px;
  display: none;
}
.text_cards_section_estadosunidos {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-blue-escuro);
}

.layout_section_click_estadosunidos {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text_layout_estadosunidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.text_layout_estadosunidos > p {
  font-size: 20px;
}

.ul_layout_section_estadosunidos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 15px;

}

.ul_layout_section_estadosunidos > li {
  list-style: none;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.layout_estadosunidos_buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.button_usa {
  padding: 10px 20px;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background: rgb(145,0,255);
  background: linear-gradient(90deg, rgba(145,0,255,1) 0%, rgba(14,64,198,1) 100%);
  color: var(--color-background);
  transition: 0.8s;
}


.button_div_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.button-voltar {
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background: rgb(145,0,255);
  background: linear-gradient(90deg, rgba(145,0,255,1) 0%, rgba(14,64,198,1) 100%);
  color: var(--color-background);
  transition: 0.8s;
  animation: layouot 1s ease 0s 1 normal forwards;
}






/* OPÇÕES DE COMPRA 7 DIAS USA */

.list_options_setedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.list_options_dezdias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.list_options_dozedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.list_options_quinzedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}
.list_options_vintedias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.list_options_trintadias_usa {
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.grid_plans_options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* classes globais */
.imgpadraoplans > img {
  width: 250px;
  height: 180px;
}

.add_carrinho_layout {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.p_add_carrinho {
  font-size: 13px;
  font-weight: 600;
  background-color: var(--color-blue-escuro);
  padding: 2px 10px;
  border-radius: 50px;
  color: var(--color-background);
  cursor: pointer;
  transition: 0.8s;
}

.p_remove_carrinho {
  font-size: 13px;
  font-weight: 600;
  background-color: var(--color-blue-escuro);
  padding: 2px 10px;
  border-radius: 50px;
  color: var(--color-background);
  cursor: pointer;
  transition: 0.8s;
}

.btn_add_carinho {
  font-size: 18px;
  color: var(--color-background);
  background-color: var(--color-blue-palet);
  border: 0px;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 20px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.8s;
}

.btn_add_carinho:hover {
  background-color: var(--color-alternative);

}


.plano500mb {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(244,244,244,1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.plano1gb {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(244,244,244,1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.plano2gb {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(244,244,244,1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: layouot 1s ease 0s 1 normal forwards;
}

.info_quantidade_planos {
  font-size: 13px;
}

.container_infos_plano {
  gap: 10px;
}




