:root {
  --color-background: #fff;
  --color-black-pantone: #2d2d2f;
  --color-red-pantone: #2e3177;
  --color-blue-header: #bdefff;

  --color-blue-escuro: #2b8bec;
  --color-alternative: #22176e;

  --color-orange: #ffd488;
  --color-blue-palet: #0089e4;
  --color-blackblue: #083D74;

  --color-glow-roxo: #9437F0;


  --color-roxo-roxo: #FF6B6B;
  --color-magente: #FF6B6B;
  --black-blue: #3A0CA3;
  --color-background: #fff6f6;
}

@media screen and (max-width: 900px) and (min-width: 380px) {
  .top_section_home{
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }
  .top_subsection_home {
    height: 90%;
    width: 100%;
    margin: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
  }

  .top_section_text {
    height: 300px;
    width: 100%;
  }

  .top_section_text > h1 {
    font-size: 26px;
    color: var(--color-background);
    font-weight: 500;
  }

  .p-span {
    font-size: 25px;
    color: var(--color-background);
    font-weight: 700;
  }
  
  .span_home1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    color: var(--color-magente);
  }

  .card-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .cardimg_usa {
    width: 250px;
    background-size: cover;
  }
  .cardimg_europa {
    width: 250px;
    background-size: cover;
  }
  .cardimg_mundial {
    width: 250px;
    background-size: cover;
  }
  .section_cards_estadosunidos {
    width: 100%;
    padding: 20px;
    margin: 0px;
  }
  .layout_section_click_estadosunidos {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  
  .text_layout_estadosunidos {
    width: 100%;
    padding: 0px;
  }
  .text_layout_estadosunidos > h1 {
    font-size: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0px;
  }

  .text_layout_estadosunidos > p {
    font-size: 20px;
    width: 100%;
    max-width: 100%;
  }

  .layout_estadosunidos_buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px;
  }
  .ul_layout_section_estadosunidos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
  }
  .button-voltar {
    margin: 10px 10px;
  }
 
  .list_options1 {
    width: 100%;
  }

  .button_usa {
    width: 100%;
    padding: 10px 50px;
  }

  .grid_plans_options {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .apresentacao1 {
    width: 100%;
    flex-direction: column;
    padding: 0px 20px;
    margin-top: 20px;
  }
  .texto_apresentacao1 > h1 {
    font-size: 20px;
  }

  .img_apresentacao1 > img {
    width: 100%;
  }

  .apresentacao2 {
    width: 100%;
    flex-direction: column;
    padding: 20px 20px;
    margin-top: -8px;
    align-items: center;
    background-color: red;
  }
  
  .text_apresentacao2 > h1 {
    font-size: 30px;
    color: var(--color-background);
    text-align: center;
  }

  .grid_cards_informativos {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .section_informativo_produto { 
      width: 100%;
      flex-direction: column;
      padding: 0px 20px;
      margin-top: 20px;
  }
  .article_informativo_produto {
    width: 100%;
    text-align: center;
  }

  .article_informativo_produto > h2 {
    font-size: 20px;
  }

  figure {
    display: none;
  }

  .footer_pageinicio {
    padding: 10px 0px;
  }

  .container_footer {
    margin: 10px 10px;
    flex-direction: column;
    gap: 30px;
  }

}
