
:root {
 --color-background: #FFF;
 --color-black-pantone: #2d2d2f;
 --color-red-pantone: #2E3177;
 --color-blue-header: #BDEFFF;
 --color-gradient-blue: linear-gradient(90deg, rgba(71,61,125,1) 12%, rgba(36,0,181,1) 55%, rgba(91,56,232,1) 76%);
 --color-blue-escuro: #2B8BEC;
}

/* SPANS */
.span1 {
  background: -webkit-linear-gradient(90deg, rgba(49,172,236,1) 12%, rgba(0,115,232,1) 44%, rgba(28,141,255,1) 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 600;
}
.span2 {
  color: var(--color-black-pantone);
  font-weight: 600;
}
/* SPANS */

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body{
  background-color: var(--color-background);
  font-family: "Poppins", sans-serif;
}

.headersection {
  width: 100%;
}


/* HEADER RESPONSIVO */

#nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
}

a {
  color: var(--color-black-pantone);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 0.7s;
}

#buttonhover-mobile{
  display: none;
}

a:hover {
  color: var(--color-blue-escuro);
}

#listhover {
  border-bottom: 2px solid transparent;
  transition: 0.7s;
}

#listhover:hover {
  border-bottom: 2px solid var(--color-blue-escuro);
}



#logo {
  width: 200px;
  height: 200px;
  margin-left: 160px;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}



#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}


/* HEADER RESPONSIVO */



/* BUTTON ACESS CLIENT */
.b-acess-client {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  text-align: center; 
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  font-size: 17px;
  font-weight: 400;
  transition: 0.8s;
  cursor: pointer;
}

.b-acess-client:hover {
  background-color: #e6e6e6;
}


.carrinhodecompras {
  margin: 20px 10px;
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
}
.cart-icon {
  width: 30px;
  height: 30px;
  filter: #2d2d2f;
}

.carrinhodecompras:hover {
  background-color: #e6e6e6;
}

.spanlineheader {
  font-size: 30px;
  color: var(--color-black-pantone);
}


/* ANUNCIO SUPORTE TÉCNICO */

.suporte-header {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-header);
  gap: 10px;
}

.suporte-header > h1{
  font-size: 15px;
  font-weight: 400;
}

.suporte-header > p{
  font-size: 14px;
  font-weight: 500;
}

/* ANUNCIO SUPORTE TÉCNICO */

/* NAV-BAR */

/* Section principal header */
.principalsection {
  height: 600px;
  align-items: center;
  background-image: url("../assets/imagens/background/backgroundgradient.svg");
  background-size: cover;
  margin-top: 40px;
}

.grid_principalsection {
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.grid_text_principal > .p-chipinternacional {
  font-size: 20px;
  color: var(--color-black-pantone);
  font-weight: 500px;
}

.grid_text_principal > h1 {
  font-size: 60px;
  color: var(--color-black-pantone);
  font-weight: 400;
}

.grid_text_principal > .p-infos {
  font-size: 25px;
  color: var(--color-black-pantone);
  font-weight: 400;
  margin-top: 30px;
}

/* GRID RIGHT */
.div-gridright > img {
  width: 600px;
  height: 600px;
}
/* GRID RIGHT */

/* INPUT SEARCH */
.container1{
  margin-top: 50px;
  padding: 0px 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background: rgb(49,172,236);
  background: linear-gradient(90deg, rgba(49,172,236,1) 12%, rgba(0,115,232,1) 44%, rgba(28,141,255,1) 76%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container1 > h1 {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 500;
  color: var(--color-background);
}
.container {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.selector {
  margin: 10px 20px;
  color: var(--color-background);
}

.dropdown {
  width: 100%;
  padding: 5px;
  border: 2px solid var(--color-background);
  border-radius: 10px;
  font-family: "Poppins",sans-serif;
}

.selector {
  font-weight: 500;
}

#searchButton {
  padding: 10px 20px;
  background-color: var(--color-red-pantone);
  color: var(--color-background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
  width: 150px;
  height: 60px;
  text-align: center;
  border-radius: 35px;
  font-size: 20px;
  font-weight: 500;
}

#searchButton:hover {
  background-color: var(--color-blue-header);
  color: var(--color-black-pantone);
}
/* INPUT SEARCH */

/* Section principal header */



#logomobile {
  display: none;
}
#carrinhomobile1 {
  display: none;
}


.infoschip {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 0px;
  background-color: #fff;
  height: 150px;
}

.container_infochip {
  display: flex;
  align-items: center;
  margin: 0px 160px;
  width: 100%;
  gap: 60px;
}

.infocobertura {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infocobertura > h1 {
  font-size: 80px;
  color: var(--color-black-pantone);
}

.infocobertura > p {
  font-size: 30px;
  font-weight: 500;
  margin-top: -10px;
  color: var(--color-blue-escuro);
}

.infocobertura > p > span {
  color: var(--color-black-pantone);
  font-weight: 700;
}

.spaninfo {
  color: var(--color-blue-escuro);
  font-size: 90px;  
}

.informationproduct {
  margin: 130px 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.infofisicoevirtual,
.infomoedaconversao,
.infosuportetecnico {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 400px;
  border-radius: 20px;
  padding: 20px 20px;
  color: #2d2d2f;
}

.iconinfo1 {
  width: 50px;
  height: 50px;
  filter: #fff;
}
.imgrocket {
  z-index: 1;
}
.imgrocket > img {
  z-index: 1;
  position: relative;
  bottom: 140px;
}
.imgmundo {
  z-index: 1;
}
.imgmundo > img {
  z-index: 1;
  position: absolute;
  top: 650px;
  right: 100px;
}

.article-destino {
  width: 100%;
  text-align: center;
}

.article-destino > h1 {
  font-size: 50px;
  font-weight: 500;
  color: var(--color-black-pantone);
}




/* MENUMOBILE */

@media (max-width: 1000px) {

  #texticonsuporte > h1 {
    font-size: 12px;
  }

  #texticonsuporte > p {
    font-size: 12px;
  }

  #header {
    display: flex;
    align-items: center;
    margin: 0px;
    width: 100%;
    padding: 0;
  }

  #nav {
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    align-items: center;
    height: 100%;
  }

  #carrinhomobile1 {
    display: flex;
    margin: 0px;
  }

  .carrinhodecompras {
    display: none;
  }

  #logodesktop {
    display: none;
  }

  #logomobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .spanlineheader {
    display: none;
  }

  .b-acess-client {
    display: none;
  }

  #buttonhover-mobile {
    display: flex;
    margin: 0 1rem;
  }

  .principalsection{
    display: none;
  }

  #logo {
      margin-left: 0px;
  }

  #header{
      justify-content: space-between;
      gap: 0px;
  }

#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 90px;
  right: 0px;
  background: #fff;
  transition: 0.6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}
#nav.active #menu {
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}
#menu a {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
#btn-mobile {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}
#hamburger {
  border-top: 2px solid;
  width: 20px;
}
#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
#nav.active #hamburger {
  border-top-color: transparent;
}
#nav.active #hamburger::before {
  transform: rotate(135deg);
}
#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}
}